body {
  font-family: 'Nunito', sans-serif;
  background-color: white;
}

main {
  margin-top: 60px;
}

html {
  background-color: white;
}

.navbar {
    width: 100%;
    border-radius: 0px;
    padding-left: 0px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 60px;
    padding-top: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
    float: left;
    list-style-type: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
    color: #eee;
}

.nav-link {
    margin-top: 30px;
    margin: 20px;
}

.md-button.navBtn {
    color: #B7B7B7;
    font-size: 16px;
    letter-spacing: 2.5px;
}

.md-button.menu {
  margin-top: 2px;
  color: #B7B7B7;
  min-width: 1%;
}

.md-button.menu:not([disabled]):hover {
  background-color: transparent;
  color: #4689DF;
}

.md-button.login_btn {
  color: white;
  width: 100%;
  font-weight: bolder;
  background-color: #0770D9;
}

.example.example1 * {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .example.example1 fieldset {
    margin: 0 15px 20px;
    padding: 0;
    border-style: none;
    background-color: #4689DF;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #829fff;
    border-radius: 4px;
  }

  .example.example1 .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
  }

  .example.example1 .row + .row {
    border-top: 1px solid #819efc;
  }

  .example.example1 label {
    width: 15%;
    min-width: 70px;
    padding: 11px 0;
    color: #D8F1FE;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .example.example1 input, .example.example1 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-style: none;
  }

  .example.example1 input:-webkit-autofill {
    -webkit-text-fill-color: #fce883;
    transition: background-color 100000000s;
    -webkit-animation: 1ms void-animation-out;
  }

  .example.example1 .StripeElement--webkit-autofill {
    background: transparent !important;
  }

  .example.example1 .StripeElement {
    width: 100%;
    padding: 11px 15px 11px 0;
  }

  .example.example1 input {
    width: 100%;
    padding: 11px 15px 11px 0;
    color: #fff;
    background-color: transparent;
    -webkit-animation: 1ms void-animation-out;
  }

  .example.example1 input::-webkit-input-placeholder {
    color: #87bbfd;
  }

  .example.example1 input::-moz-placeholder {
    color: #87bbfd;
  }

  .example.example1 input:-ms-input-placeholder {
    color: #87bbfd;
  }

  .example.example1 button {
    display: block;
    width: calc(100% - 30px);
    height: 40px;
    margin: 40px 15px 0;
    background-color: #FF5B9A;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #FF5B9A;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }

  .example.example1 button:active {
    background-color: rgb(250, 128, 175);
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 rgb(250, 128, 175);
  }

  .example.example1 .error svg .base {
    fill: #fff;
  }

  .example.example1 .error svg .glyph {
    fill: #6772e5;
  }

  .example.example1 .error .message {
    color: #fff;
  }

  .example.example1 .success .icon .border {
    stroke: #87bbfd;
  }

  .example.example1 .success .icon .checkmark {
    stroke: #fff;
  }

  .example.example1 .success .title {
    color: #fff;
  }

  .example.example1 .success .message {
    color: #9cdbff;
  }

  .example.example1 .success .reset path {
    fill: #fff;
  }

.example.example1 .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}

.example.example1 .row + .row {
  border-top: 1px solid #819efc;
}

.example.example1 label {
  width: 15%;
  min-width: 70px;
  padding: 11px 0;
  color: #D8F1FE;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.example.example1 input, .example.example1 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example1 input:-webkit-autofill {
  -webkit-text-fill-color: #fce883;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example1 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example1 .StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.example.example1 input {
  width: 100%;
  padding: 11px 15px 11px 0;
  color: #fff;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
}

.example.example1 input::-webkit-input-placeholder {
  color: #87bbfd;
}

.example.example1 input::-moz-placeholder {
  color: #87bbfd;
}

.example.example1 input:-ms-input-placeholder {
  color: #87bbfd;
}

.example.example1 button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #FF5B9A;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #FF5B9A;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.example.example1 button:active {
  background-color: rgb(250, 128, 175);
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 rgb(250, 128, 175);
}

.example.example1 .error svg .base {
  fill: #fff;
}

.example.example1 .error svg .glyph {
  fill: #6772e5;
}

.example.example1 .error .message {
  color: #fff;
}

.example.example1 .success .icon .border {
  stroke: #87bbfd;
}

.example.example1 .success .icon .checkmark {
  stroke: #fff;
}

.example.example1 .success .title {
  color: #fff;
}

.example.example1 .success .message {
  color: #9cdbff;
}

.example.example1 .success .reset path {
  fill: #fff;
}

.form {
  padding: 30px;
  /* width: 400px; */
  background-color: lightgray;
  margin: 10px;
}

.material-icons {
    padding-top: 0px;
}

.creditCard {
  padding: 20px;
  padding-top: 10px;
  margin: 5px;
  width: 300px;
  height: 150px;
  background-color: #D8F1FE;
}

.nonprofit_image {
  width: 100%;
}

.feed_image {
  /* max-width: 240px; */
  width: 100%;
}

.nonprofit_logo {
  border-radius: 50%;
  max-width: 75px;
}

.nonprofit_logo_user {
  border-radius: 50%;
  max-width: 200px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.nonprofit_link {
  font-size: 130%;
  text-decoration: none;
  font-weight: bolder;
}

.nonprofit_link:visited {
  color: black;
}

.discover_link {
  text-decoration: none;
  color: #4689DF;
}

.discover_link:visited {
  color: #4689DF;
}

.login {
  height: 300px;
  width: 400px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.donatedNonprofits {
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo_hand {
  position: absolute;
}

.logo_coin {
  position: relative;
}
.postedDate {
  font-size: 10px;
  float: right;
  padding: 0px;
}

.feedButton{
  font-size: 10px;
  float: right;
  min-width: 1%;
  min-height: 1%;
}

/* #adminFeedForm{
  margin-top: 100px;
}

#adminNonprofitForm{
  margin-top: 100px;
} */

#dropMenu{
  z-index: 9000;
}

md-content {
  height: 100%;
  background-color: white;
}

.animation_wrapper {
  position: absolute;
  top: 45%;
  left: 55%;
  margin: -100px 0 0 -100px;
  /* z-index: -1; */
}

.donation-dialog {
  z-index: 900;
}

.content {
  padding-top: 35px;
  padding-left: 30px;
}

.header {
  padding-top: 35px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.profile_header {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
}
md-content .md-button{
  background-color: none;

}

md-content .md-button.feedButton:not([disabled]):hover{
  background-color: grey;
}
