<div class="navbar">
    <div class="container nav">
        <ul>
            <li class="nav-link"><md-button class="navBtn" ng-href="#!admin">Home</md-button></li>
            <li class="nav-link"><md-button class="navBtn" ng-href="#!admin-csv">CSV</md-button></li>
            <li class="nav-link"><md-button class="navBtn" ng-href="#!admin-feed">Feed</md-button></li>
            <li class="nav-link"><md-button class="navBtn" ng-href="#!admin-nonprofits">Nonprofits</md-button></li>
            <li class="nav-link"><md-button class="navBtn" ng-href="#!admin-users">Users</md-button></li>
            <li class="nav-link"><md-button class="navBtn" ng-click="vm.fbLogout()">Logout</md-button></li>

        </ul>
    </div>
</div>
