<div class="navbar">
    <div class="container nav">
        <ul>
            <li class="nav-link"><md-button class="navBtn">CSV</md-button></li>
            <li class="nav-link"><md-button class="navBtn">Feed</md-button></li>
            <li class="nav-link"><md-button class="navBtn">Nonprofits</md-button></li>
            <li class="nav-link"><md-button class="navBtn">Users</md-button></li>
            <li class="nav-link"><md-button class="navBtn">View as User</md-button></li>
        </ul>
    </div>
</div>