<div class="navbar">
    <div class="container nav">
      <ul>
        <li class="nav-link">
          <md-menu>
            <md-button class="navBtn" ng-click="vm.UserService.openMenu($mdMenu, $event)">
              <i class="material-icons">menu</i>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button ng-click="vm.UserService.checkStripeRegistration()">Payment Info</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-href="#!support">Support</md-button>
              </md-menu-item>
              <md-menu-item ng-show="vm.user.fromOurDB.role == 1">
                <md-button ng-href="#!admin">ADMIN view</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.fbLogout()">Log Out</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </li>
        <li class="nav-link"><md-button class="navBtn" ng-href="#!user-profile">Profile</md-button></li>
        <li class="nav-link"><md-button class="navBtn" ng-href="#!feed">Feed</md-button></li>
        <li class="nav-link"><md-button class="navBtn" ng-href="#!discover">Discover</md-button></li>
      </ul>
    </div>
</div>
