<div md-whiteframe class="navbar">
    <div layout="row" class="container nav">
      <div style="padding-right: 5px;" flex="25" class="nav-link">
        <md-menu>
          <md-button class="menu" ng-click="vm.UserService.openMenu($mdMenu, $event)">
            <i class="material-icons">menu</i>
          </md-button>
          <md-menu-content class="dropMenu" width="4">
            <md-menu-item>
              <md-button ng-click="vm.checkStripeRegistration()">Payment Info</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-href="#!subscriptions">My Subscriptions</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-href="#!support">Support</md-button>
            </md-menu-item>
            <md-menu-item ng-show="vm.UserService.userObject.fromOurDB.role == 1">
              <md-button style="color: #4689DF;" ng-href="#!admin-feed">Admin View</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="md-warn" ng-click="vm.UserService.confirmLogout()">Log Out</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      <div flex="25" class="nav-link"><a ng-href="#!feed">
        <img ng-hide="vm.UserService.currentPath === '/feed'" src="styles/assets/profile_mobile.png" alt="">
        <img ng-if="vm.UserService.currentPath === '/feed'" src="styles/assets/profile_selected_mobile.png" alt="">
          </a>
      </div>
      <div flex="25" class="nav-link"><a ng-href="#!user-profile">
        <img ng-hide="vm.UserService.currentPath === '/user-profile'" src="styles/assets/feed_mobile.png" alt="">
        <img ng-if="vm.UserService.currentPath === '/user-profile'" src="styles/assets/feed_selected_mobile.png" alt="">
          </a>
      </div>
      <div flex="25" class="nav-link"><a ng-href="#!discover">
        <img ng-hide="vm.UserService.currentPath === '/discover'" src="styles/assets/discover_mobile.png" alt="">
        <img ng-if="vm.UserService.currentPath === '/discover'" src="styles/assets/discover_selected_mobile.png" alt="">
          </a>
      </div>
    </div>
</div>