<div ng-include="'views/partials/admin.navbar.html'"></div>
<div class="content">
    <div class="adminUserForm">
        <div style="width: 800px"  class="md-padding" >
            <h1>Users</h1><br>
            <div layout="row">
                <div flex="5">
                    <i class="material-icons">search</i>
                </div>
                <div flex>
                    <input type="text" placeholder="Search" ng-model="searchBox">
                </div>
            </div>
        <br>
            <div layout="row" ng-repeat="user in vm.userArray.list | filter: searchBox">
                <div flex=15>
                    <img style="border-radius: 50%;" ng-src="https://graph.facebook.com/{{user.fb_id}}/picture"/>
                </div>
                <div flex=25 style="padding-top: 15px;">
                    {{user.first_name}} {{user.last_name}}
                </div>
                <div style="padding-top: 10px;">
                    <md-button class="md-warn admin_btn" ng-click="vm.confirmDeleteUser(user.id, $event)"><i class="material-icons">delete</i></md-button>
                </div>
            </div>
        </div>
    </div>
</div>
