<div ng-include="'views/partials/admin.navbar.html'"></div>

<h1>Nonprofits</h1>


    <div>
      <div>
        <label for="">Name</label>
        <input type="text" ng-model="vm.newNonprofit.name"  placeholder="Name">
      </div>
      <div>
        <label>Picture Url</label>
        <input type="text" ng-model="vm.newNonprofit.picture_url" placeholder="Picture Url">
      </div>
      <div>
        <label for="">Logo Url</label>
        <input type="text" ng-model="vm.newNonprofit.logo_url" placeholder="Logo Url">
      </div>
      <div>
        <label for="">Description</label>
        <input type="text" ng-model="vm.newNonprofit.description" placeholder="Description">
      <div>
        <label for="">Goal #</label>
        <input type="text" ng-model="vm.newNonprofit.goal" placeholder="Goal #" >
      </div>
      <div>
        <label for="">Goal Description</label>
        <input type="text" ng-model="vm.newNonprofit.goal_description" placeholder="Goal Description" >
      </div>
      <div>
         <button ng-click="vm.addNonprofit(vm.newNonprofit)" >Submit nonprofit</button>
         <button ng-click="vm.getAllNonprofit()" >Get All Nonprofits</button>
         <button ng-show="vm.editNonprofitToggle.show" ng-click="vm.submitEditedNonprofit(vm.newNonprofit)">Put Edits</button>
      </div>
    </div>

<div>
  <ul  ng-repeat="nonprofit in vm.allNonprofits.list">
    <li>name: {{nonprofit.name}}</li><br>
    <li>description: {{nonprofit.description}}</li><br>
    <li>goal value: {{nonprofit.goal_value}}</li><br>
    <li>goal description: {{nonprofit.goal_description}}</li><br>
    <li>picture url: {{nonprofit.picture_url}}</li><br>
    <li>logo url: {{nonprofit.logo_url}}</li><br>
    <li>product_id: {{nonprofit.product_id}}</li><br>
    <li>five_plan_id: {{nonprofit.five_plan_id}}</li><br>
    <li>ten_plan_id: {{nonprofit.ten_plan_id}}</li><br>
    <li>twenty_plan_id: {{nonprofit.twenty_plan_id}}</li><br>
    <li>id: {{nonprofit.id}}</li><br>

<br><br>
<button ng-click="vm.editNonprofit(nonprofit.id)">edit</button>
<button ng-click="vm.deleteNonprofit(nonprofit.id)">delete</button>
  </ul>
</div>
