<div ng-include="'views/partials/user.navbar.html'"></div>
<div class="content">
  <h1>Today</h1>

  <div ng-repeat="item in vm.allFeedItems.list">
    <div layout="row">
      <div flex="30">
        <a href='/#!/nonprofit-profile/{{item.nonprofit_id}}'><img class="nonprofit_logo" ng-src="{{item.logo_url}}" alt=""></a>
      </div>
      <div flex>
        <br>
        <br>
        {{item.feed_text}}
      </div>
    </div>
    <div layout="row">
      <div flex-offset="25">
        <img class="feed_image" ng-if="item.feed_img_url" ng-src="{{item.feed_img_url}}" alt="">
      </div>
    </div>
  </div>
</div>
