<div ng-include="'views/partials/user.navbar.html'"></div>
<div class="content">
    <div layout="row">
        <img style="border-radius: 50%;" ng-src="https://graph.facebook.com/{{vm.UserService.userObject.fromOurDB.fb_id}}/picture"/>
        <h1 style="margin-left: 15px;">{{vm.UserService.userObject.fromOurDB.name}}</h1>
        <span flex></span>
    </div>


    <div class="donatedNonprofits" ng-repeat="nonprofit in vm.UserService.userObject.fromOurDB.donationHistory.totalsSummary.grandTotals">
        <a href='/#!/nonprofit-profile/{{nonprofit.id}}'><img class="nonprofit_logo_user" ng-src="{{nonprofit.logo_url}}" alt=""></a>
        <br>
        <a class="nonprofit_link" href='/#!/nonprofit-profile/{{nonprofit.id}}' ng-click="">{{nonprofit.name}}</a>
        <br>
        You've donated {{nonprofit.sum / 100 | currency}}
        <br>
    </div>
</div>
