<div ng-include="'views/partials/user.navbar.html'"></div>
<div class="content">
  <h1>Today</h1>
  <br>
  <div ng-repeat="item in vm.allFeedItems.list">
    <div layout="row">
      <!-- the show and hide are here to direct users to the co-Giv support page instead of the 'profile view' for co-Giv -->
      <div flex="25" ng-hide="(item.name === 'co-Giv')">
        <a href='/#!/nonprofit-profile/{{item.nonprofit_id}}'><img class="nonprofit_logo" ng-src="{{item.logo_url}}" alt=""></a>
      </div>
      <div flex="25" ng-show="(item.name === 'co-Giv')">
        <a href='/#!/support'><img class="nonprofit_logo" ng-src="{{item.logo_url}}" alt=""></a>
      </div>
      <div flex>
        <br>
        <!-- the show and hide are here to direct users to the co-Giv support page instead of the 'profile view' for co-Giv -->
        <a ng-hide="(item.name === 'co-Giv')" class="nonprofit_link" href='/#!/nonprofit-profile/{{item.nonprofit_id}}'>{{item.name}}</a>
        <a ng-show="(item.name === 'co-Giv')" class="nonprofit_link" href='/#!/support'>{{item.name}}</a>

      </div>
    </div>
    <div layout="row">
      <div flex-offset="25">
        <img class="feed_image" ng-if="item.feed_img_url" ng-src="{{item.feed_img_url}}" alt="">
      </div>
    </div>
    <div layout="row">
      <div flex-offset="25">
        <iframe  class="feed_video" ng-if="item.feed_video_url" width="100%"
            ng-src="{{vm.getIframeSrc(item.feed_video_url)}}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
      <div flex style="margin-left: 20px;">
        <br>
          <p ng-bind-html="item.feed_text">{{item.feed_text}}</p>        <br>
          <p class="postedDate">posted on: {{item.feed_date_posted.substring(0,10)}}</p>
      </div>
      <br><br>
    </div>
  </div>
