<div ng-include="'views/partials/user.navbar.html'"></div>

<h1>Payment Info</h1>

<div class="cell example example1">
    <form id="register-form">
    <!-- <form id="register-form" ng-submit="vm.submitStripeRegistrationForm()"></form> -->
        <fieldset>
            <div class="row">
                <label for="name" data-tid="elements_examples.form.name_label">Name</label>
                <input id="name" data-tid="elements_examples.form.name_placeholder" type="text" placeholder="Jane Doe" required="">
            </div>
            <div class="row">
                <label for="email" data-tid="elements_examples.form.email_label">Email</label>
                <input id="email" data-tid="elements_examples.form.email_placeholder" type="email" placeholder="janedoe@gmail.com" required="">
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <div id="example1-card"></div>
            </div>
        </fieldset>
        <button type="submit" data-tid="elements_examples.form.pay_button">Register</button>
    </form>
</div>
<br>