<div ng-include="'views/partials/user.navbar.html'"></div>

<h1>Nonprofit</h1>

<ul>
  <li>{{vm.nonprofitToDisplay.solo.name}}</li><br>
  <li><img ng-src="{{vm.nonprofitToDisplay.solo.picture_url}}" width="100px"/></li><br><br><br><br>
  <li><img ng-src="{{vm.nonprofitToDisplay.solo.logo_url}}" width="100px"/></li><br><br><br><br><br><br>
  <li>{{vm.nonprofitToDisplay.solo.goal_description}}</li><br>
  <li>{{vm.nonprofitToDisplay.solo.goal_value}}</li><br>
  <li>{{vm.nonprofitToDisplay.solo.description}}</li><br>
</ul>

