<div ng-include="'views/partials/user.navbar.html'"></div>
<div ng-cloak class="content">
    <h1>Payment Info</h1>
    <br>
    <div>
        <md-card class="creditCard">
            <h3>{{vm.UserService.userObject.stripeCustomerInfo.customerObject.sources.data[0].card.brand.toUpperCase()}}</h3>
            <br>
            #### #### #### {{vm.UserService.userObject.stripeCustomerInfo.customerObject.sources.data[0].card.last4}}
        </md-card>
        <br>
        <div ng-hide="vm.editingCard == true">
            <md-button ng-click="vm.editingCard = true" class="md-primary md-raised">Edit Card</md-button>
        </div>
    </div>
    <div ng-show="vm.editingCard == true">
        <div class="cell example example1">
            <form id="register-form">
                <fieldset>
                    <div class="row">
                        <div id="example1-card"></div>
                    </div>
                </fieldset>
            </form>
        </div>
        <md-button ng-click="vm.editingCard = false" class="md-raised">Cancel</md-button>
        <md-button ng-click="vm.updateCard(vm.UserService.userObject.stripeCustomerInfo.customerObject.id)" class="md-primary md-raised">Save Changes</md-button>
    </div>
    <br>
    <div ng-hide="vm.editingEmail == true">
        {{vm.UserService.userObject.stripeCustomerInfo.customerObject.email}}
        <br>
        <br>
        <md-button ng-click="vm.editingEmail = true" class="md-primary md-raised">Edit Email</md-button>
    </div>

    <div ng-show="vm.editingEmail == true">
        <div class="cell example example1">
            <form id="register-form">
                <fieldset>
                    <div class="row">
                        <label for="email" data-tid="elements_examples.form.email_label">Email</label>
                        <input id="email" ng-value="vm.UserService.userObject.stripeCustomerInfo.customerObject.email" ng-model="vm.updatedEmail" data-tid="elements_examples.form.email_placeholder" type="email">
                    </div>
                </fieldset>
            </form>
        </div>
        <md-button ng-click="vm.editingEmail = false; updateEmail(vm.updatedEmail)" class="md-raised">Cancel</md-button>
        <md-button ng-click="vm.updateEmail(vm.UserService.userObject.stripeCustomerInfo.customerObject.id)" class="md-primary md-raised">Save Changes</md-button>
    </div>
    <br>
    <br>
</div>
