<md-dialog layout-padding>
    <md-content layout-padding>
    
        <h2> {{feedItem.name}} </h2>
        <div>
            Date posted: {{feedItem.feed_date_posted | date: 'fullDate'}}
        </div>

        <form id="feedItemEdit">
            <div layout-gt-xs="row">
                <div ng-if="feedItem.feed_img_url">
            <!-- If the feedItem.feed_img_url exists -->
                    <div>
                        <img style="max-width: 300px;" ng-src="{{feedItem.feed_img_url}}" alt="feed image">
                    </div>
                    <md-input-container class="md-block">
                        <label>Paste a link from the internet</label>
                        <input type="text" ng-model="feedItem.feed_img_url">
                        <br>
                        Or upload a photo yourself
                        <md-button ng-click="feedPhotoUpload()">Upload</md-button>
                    </md-input-container>
                </div>
                <div ng-if="!feedItem.feed_img_url">
                    <md-input-container>
                        Upload a photo
                        <md-button ng-click="feedPhotoUpload"></md-button>
                    </md-input-container>
                </div>
            <!-- If the feedItem.feed_img_url does NOT exist -->

                
            </div>
        <!-- END row -->

        </form>
    <!-- END form -->

    </md-content>
<!-- END md-content -->
</md-dialog>
<!-- END md-dialog -->