
<!-- Was going to use this in user.nonprofit.html but because of its design being 
optimized for images and us needing to fit varying amounts of text, it won't work the best.
We could use a grid list on the user.payment view -->

<md-grid-list md-cols-xs="2" md-cols-sm="3" md-cols-gt-sm="4" md-row-height="1:1" md-gutter="8px" md-gutter-gt-sm="12px"
    layout layout-padding>

    <!-- tile 1: nonprofit img and/or logo -->
    <md-grid-tile md-colspan="1" md-colspan-gt-sm="2" md-rowspan="1" md-rowspan-gt-sm="2">
        <img ng-show="vm.nonprofitToDisplay.solo.picture_url != null" class="nonprofit_image" ng-src={{vm.nonprofitToDisplay.solo.picture_url}}
            alt="logo hi hi">
    </md-grid-tile>
    <!-- END tile 1 -->

    <!-- tile 2: donate button -->
    <md-grid-tile md-colspan="1" md-colspan-gt-sm="2" md-rowspan="1" md-rowspan-gt-sm="2" layout layout-align="center center">
        <md-button ng-click="vm.showDonationDialog($event)">Donate</md-button>
    </md-grid-tile>
    <!-- END tile 2 -->

    <!-- tile 3: nonprofit description-->
    <md-grid-tile md-colspan="2" md-colspan-gt-sm="4" md-rowspan="1" md-rowspan-gt-sm="1">
        <p ng-bind-html="vm.nonprofitToDisplay.solo.description">{{vm.nonprofitToDisplay.solo.description}}</p>
    </md-grid-tile>
    <!-- END tile 3 -->

    <!-- tile 4 -->
    <md-grid-tile md-colspan="2" md-colspan-gt-sm="4" md-rowspan="2" md-rowspan-gt-sm "4">
        <md-grid-tile-header layout-padding>
            <h2>Monthly Givers</h2>
        </md-grid-tile-header>
        <md-list style="list-style: none;">
            <md-list-item ng-repeat="donor in vm.nonprofitToDisplay.topDonors.allMonthlyGivers">
                <img style="border-radius: 50%;" ng-src="https://graph.facebook.com/{{donor.fb_id}}/picture" alt=""> &nbsp; &nbsp; {{donor.username}}
            </md-list-item>
        </md-list>
    </md-grid-tile>
    <!-- END tile 4 -->

</md-grid-list>
<!-- END grid-list -->